.newsgrid{
 display: grid;
  grid-template-columns: repeat(3, 1fr);  /* 3 equal columns */
  gap: 30px;  /* Space between grid items */
  margin-top: 20px;
  padding: 1%;
}

.newscontent{
width: 80%;
margin: auto;
}